/* Space out content a bit */

body {
    /*
    padding-top:20px;
    padding-bottom:20px;*/
    background: url(../img/back-to-school4.jpg) no-repeat center center fixed;
    background-size: 100% auto;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer,
.container {
    padding-right: 15px;
    padding-left: 15px;
}
.container {
    background-color: white;
}
/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    padding-top: 15px;
    min-height: 75px;
}
.header .brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
/* Customize container */

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background: url(../img/bluured.jpg) center;
    color: white;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
    width: 130px;
}
.search {
    padding-bottom: 15px;
}
.search #btnsearch {
    float: right;
    padding-right: 15px;
}
.results {
    color: black;
}
.results #first ul li {
    /*border: 2px solid;*/
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.results #first ul li #first-row {
    display: block;
    padding-left: 15px;
}
.results #first ul li #first-row #time {
    float: right;
    padding-right: 15px;
}
.results #first ul li img {
    height: 25px;
}
.results #first ul li #second-row {
    display: block;
    padding-left: 15px;
}
.btnshare {
    display: block;
}
/* Select */

.select-style {
    border: 1px solid #ccc;
    width: 400px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("../img/icon-select2.png") no-repeat 90% 50%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}
.select-style select:focus {
    outline: none;
}
.persone fieldset {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;
    border-radius: 4px;
}
.persone legend {
    padding: 2px;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
        text-align: center;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
/* Thumbnail */

.thumbnail {
    background-color: initial;
    border: initial;
}
/* Modal */

.modal-body {
    padding-left: 40px;
    padding-right: 40px;
}
.modal-footer {
    padding-left: 40px;
    padding-right: 40px;
}
